*{
	margin: 0;
}

.wrapper{
	width: 1200px;
	/* background-color: #FFFF00; */
	min-height: 500px;
	margin: 0 auto;
}
.top{
	background-image: url(../img/info-bc.png);
	width: 100%;
	height: 250px;
}
.name_sign{
	width: 800px;
	height: 100%;
	float: left;
}
.name{
	font-size: 36px;
	color: #fff;
	text-align: center;
	line-height: 50px;
	font-family: "eras medium itc";
	margin-top: 70px;
}
.sign{
	font-family: "楷体";
	text-align: center;
	color: #fff;
}
.head{
	width: 400px;
	height: 100%;
	float: left;
}
.head img{
	width: 128px;
	height: 128px;
	border-radius: 50%;
	margin-top: 50px;
	margin-left: 120px;
}
.info{
	width: 80%;
	min-height: 400px;
	margin: 40px auto 0px;
	border-radius: 3px;
	box-shadow: 1px -1px 11px 2px #ccc;
	padding: 10px 20px;
}
.title{
	font-size: 24px;
	color: #333;
	font-weight: bold;
	font-family: "楷体";
}
.basic_info p {
	font-family: "eras medium itc";
}
.basic_info p span:nth-child(1){
	font-weight: bold;
	font-size: 14px;
}
.basic_info p span:nth-child(2){
	font-size: 13px;
}
.detail_info{
	padding: 5px;
}
.info_block{
	margin-bottom: 20px;
}
.project_experience p{
	line-height: 30px;
	font-size: 13px;
}
.ff{
	font-size: 14px;
	font-weight: bold;
}